@model IEnumerable<Pamela_4._0.Models.Becado>

@{
    ViewBag.Title = "Index";
}

<h2>Becados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(modelItem => modelItem.IDBecado)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tutor.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDBecado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDBecado }) |
                @Html.ActionLink("Details", "MyPartialView", new { id = item.IDBecado }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDBecado })
            </td>
        </tr>
    }

</table>

